In [1]:
import numpy as np
import pandas as pd
'''
数据转换:  rename, map转换, apply
'''

'''
rename:  对索引和列做替换
DataFrame.rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None)[source]
Alter axes labels.

Function / dict values must be unique (1-to-1). 
Labels not contained in a dict / Series will be left as-is. Extra labels listed don’t throw an error.

mapping = {'AP指数' : 'AP',  'CDS评分' : 'CDS',  '纤维化分级' : 'result', '肝脏硬度KPA' : 'KPA' }
cleandata.rename(columns=mapping, inplace=True)
cleandata.tail()
'''

'''
map: Series.map(arg, na_action=None)[source] 
    Map values of Series using input correspondence (which can be a dict, Series, or function)
    
f = lambda x : occ_mapping.get(x, x)
fec.contbr_occupation = fec.contbr_occupation.map(f)

get_last_letter = lambda x:x[-1]
last_letters = names.name.map(get_last_letter)
很喜欢这样的处理方式  使用lambda表达式 简洁舒服
'''
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami', 'corned beef', 'Bacon', 'pastrami', 'honey ham', 'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [3]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}
data['animal'] = data['food'].str.lower().map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [4]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [ ]:
'''
apply: 分组后再重组 
'''
'''
       total_bill   tip   smoker  day    time    size   tip_pct
109       14.31     4.00    Yes   Sat   Dinner     2   0.279525
183       23.17     6.50    Yes   Sun   Dinner     4   0.280535
232       11.61     3.39     No   Sat   Dinner     2   0.291990
67         3.07     1.00    Yes   Sat   Dinner     1   0.325733
178        9.60     4.00    Yes   Sun   Dinner     2   0.416667
172        7.25     5.15    Yes   Sun   Dinner     2   0.710345
'''
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]
tips.groupby('smoker').apply(top)
'''
               total_bill   tip  smoker   day    time    size   tip_pct
smoker                                                           
No     88        24.71     5.85     No  Thur     Lunch     2  0.236746
       185       20.69     5.00     No   Sun     Dinner    5  0.241663
       51        10.29     2.60     No   Sun     Dinner    2  0.252672
       149        7.51     2.00     No  Thur     Lunch     2  0.266312
       232       11.61     3.39     No   Sat     Dinner    2  0.291990
Yes    109       14.31     4.00    Yes   Sat     Dinner    2  0.279525
       183       23.17     6.50    Yes   Sun     Dinner    4  0.280535
       67         3.07     1.00    Yes   Sat     Dinner    1  0.325733
       178        9.60     4.00    Yes   Sun     Dinner    2  0.416667
       172        7.25     5.15    Yes   Sun     Dinner    2  0.710345
'''

'''
tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

                    total_bill    tip  smoker   day    time  size   tip_pct
smoker day                                                             
No     Fri  94        22.75      3.25     No   Fri  Dinner     2  0.142857
       Sat  212       48.33      9.00     No   Sat  Dinner     4  0.186220
       Sun  156       48.17      5.00     No   Sun  Dinner     6  0.103799
       Thur 142       41.19      5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  95        40.17      4.73    Yes   Fri  Dinner     4  0.117750
       Sat  170       50.81     10.00    Yes   Sat  Dinner     3  0.196812
       Sun  182       45.35      3.50    Yes   Sun  Dinner     3  0.077178
       Thur 197       43.11      5.00    Yes  Thur   Lunch     4  0.115982
       
f = lambda x: x.describe()
grouped.apply(f)

fill_mean = lambda g: g.fillna(g.mean())
data.groupby(group_key).apply(fill_mean)

def draw(deck, n=5):
    return deck.sample(n)  随机采样
    
deck.groupby(get_suit).apply(draw, n=2)

by_year.apply(lambda g: g['AAPL'].corr(g['MSFT']))   计算Apple和Microsoft的相关系数
'''